<div class="title-container">
  <div class="navigation">
    <div class="header-other">
      <div class="background-overlay"></div>
      <ul>
        <li>
          <a ui-sref="home" ui-sref-active="activeState">Home</a>
        </li>
        <li>
          <a ui-sref="gallery" ui-sref-active="activeState">Gallery</a>
        </li>
        <li>
          <a ui-sref="about" ui-sref-active="activeState">About</a>
        </li>
        <li>
          <a ui-sref="contact" ui-sref-active="activeState">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</div>