<div class="home">
  <div class="thumbnail-container">
    <div class="thumbnail" >
      <a ui-sref="about" ui-sref-active="activeState">
        <div class="thumbnail-one thumbnail-inner">
          <div class="thumbnail-one-overlay"></div>
          <div class="thumbnail-title one">
            About
          </div>
        </div>
      </a>
    </div>

    <div class="thumbnail">
      <a ui-sref="gallery" ui-sref-active="activeState">
        <div class="thumbnail-two thumbnail-inner">
          <div class="thumbnail-two-overlay"></div>
          <div class="thumbnail-title two">
            Gallery
          </div>
        </div>
      </a>
    </div>

    <div class="thumbnail">
      <a ui-sref="contact" ui-sref-active="activeState">
        <div class="thumbnail-three thumbnail-inner">
          <div class="thumbnail-three-overlay"></div>
          <div class="thumbnail-title three">
            Contact
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="bio-container">
    <p>
      From the skies of New Mexico to the palm trees of Guam, Roke finds inspiration as much from his surroundings as his upbringing.
      Roke’s body of work combines his love of the people, places and culture of Guam as well as the home he and his wife have created in Albuquerque.
      Everything from bold, flashy colors to soft, delicate landscapes define his unique style that charmingly blends his two distinct cultures.
      <br>
      <br>
      He truly believes that everyone is an artist and is looking forward to sharing his talent with others.
    </p>
  </div>
</div>